<div class="row">
    <div class="titulo">
        <!--
        [cheked] = "" es cuando modifique una propiedad de forma dinamica
        operador pipe => | , sirve para aplicar una funcion a el contenido, aplicar un metodo.
        -->
        <input type="checkbox" [checked]="item.completed" >
        {{ item.title }}
    </div>
    <div class="precio">
        {{ item.price | currency }}
    </div>
    <div class="cantidad">
        {{ item.quantity }}
    </div>
    <div class="total">
        {{ (item.price * item.quantity) | currency }}
    </div>

    <div class="action">
        <!--  uso de un evento  -->
        <button (click)="onDelete(item)">Eliminar</button>
    </div>
</div>